@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
    
}
body{
    height: 100vh;
    

}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.377);
}

header > h1{
    font-variant: small-caps;
    padding-top: 20px;
    font-size: 8vw;
}
header > p{
    padding-bottom: 20px;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover{
    text-decoration: underline;
}
main{
    font-family: 'Ubuntu', sans-serif;
    padding-left: 20px;
    font-size: 3.5vh;
    
}

section > p{
   
    line-height: 10vh;
    padding-right: 2em;
    }

    .imagem{
        background-color: darkgrey;
        box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.342);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);

    }
    .imagem > p{
        background-color: rgba(0, 0, 0, 0.281);
        color: white;
        display: inline-block;
        padding: 10px;
        
        
    }
    #img01{
        background-image: url(imagens/skate.jpg);
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
    }

    #img02{
        background-image: url(imagens/dm45.jpg);
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.5em;
    }